<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>
<body>
    <h1>Edit Task</h1>
    <form action="/edit/{{ todo.id }}" method="post">
        <div>
            <label>New Task Description</label>
            <input type="text" name="new_task" value="{{ todo.task }}">
            <button type="submit">Update Task</button>
        </div>
    </form>
</body>