<!DOCTYPE html>
<html lang="en" 

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

</head>

<body>
    <div>
        <h1>To Do List</h1>
        {% if message %}
        {{ message }}
        {% endif %}
<hr>
        <form action="/add" method="post">
            <div>
                <label>To do task</label>
                <input type="text" name="task" placeholder="Enter a Task">
                <button type="submit">Add a Task</button>
            </div>
        </form>

        <hr>

{% for todo in todo_list %}
    <div>
        <form action="/update/{{ todo.id }}" method="post">
            <p>{{ todo.id }}: {{ todo.task }}</p>
            <p>Created on: {{ todo.date_created.strftime('%Y-%m-%d %H:%M:%S') }}</p>
            {% if todo.complete == False %}
            <p> Task Incomplete. <button type="submit">Mark as completed</button></p>
            {% else %}
            <p> Task Completed. <button type="submit">Mark as incomplete</button></p>
            {% endif %}            
        </form>
        <p><a href="/edit/{{ todo.id }}">Edit Task</a> | <a href="/delete/{{ todo.id }}">Delete Task</a></p>
    </div>
{% endfor %}

    </div>
</body>

</html>